<div class="footer">
    <div class="social-links">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        <a href=""><i class="fa-brands fa-pinterest-p"></i></a>
    </div>
    <div class="quick-links">
        <ul>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>About us</li>
            <li><a href=""></a>Contact me</li>
            <li><a href=""></a>Awards</li>
        </ul>
    </div>
    <div class="phone">
        <i class="fa-solid fa-phone"></i> 0123 456789
    </div>
    <div class="copyright">Copyrights © Codefactory-Team-7 2023

    </div>

</div>
