<div class="body">
    <!-- par1 -->
    <h1>About me</h1>
    <div class="about1">
        <div class="image-me">
            <img id="me-pic" src="/assets/fotograf.jpg" alt="">
        </div>
        <div class="text-me">
            <h3>Who I am</h3>
            <p>I'm Collin, a professional photographer from England, now based in Vienna. My passion for photography started when I was a child, and I've been honing my skills ever since. I specialized in portrait, wedding, and event photography. I love capturing the beauty and emotion of special moments. When I'm not behind the camera, I enjoy exploring Vienna's beautiful architecture and vibrant culture.</p> 
        </div>
    </div>
    <!-- par1 end -->
    <!-- part2 -->
    <div class="about2">
        <div class="text-work">
            <h3>What to expect</h3>
            <p>As a photographer, you can expect a professional and personalized approach to capturing your special moments. I take pride in creating beautiful, timeless images that you can cherish for years to come. Wheter you're looking for potrait, wedding or event photography, I work closely with you to understand your vision and bring it to life. I'm dedicated to providing a seamless and enjoyable experience from starrt to finish.</p> 
        </div>
        <div class="image-work">
            <img id="work-pic" src="/assets/fotograf2.jpg" alt="">
        </div>
        
    </div>
    <!-- part3 -->
    <div class="about3">
       
        <div class="image-process">
            <img id="process-pic" src="/assets/fotograf3.jpg" alt="">
        </div>
        <div class="text-process">
            <h3>Your personal process</h3>
            <p>If you contact me as a photographer we will discuss your requirements and preferences together. We will schedule a date and a location for the shoot, and I will guide you through the entire process. During the shoot, I will strive to create a relaxed atmosphere to achieve the best results. After the shoot, I will edit the photos and present you with the result.</p> 
            <a class="btn btn-outline-secondary contact-btn" routerLink="/contact" role="button">Contact me</a>
           
        </div>
        
    </div>

</div>