@import '../variables';
*{
    padding: 10px;
    margin: 0px;
    color: $font-color-light;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: rgba($background-primary-dark, 0.5);
}
.container{
    form{
        background-color: rgba($background-primary-dark, 0);
        label{
            padding: 0px;
        }
        input{
            padding: 5px;
            background-color: rgba($background-primary-dark, 0.5);
            color: $font-color-light;
        }
        textarea{
            background-color: rgba($background-primary-dark, 0.5);
            color: $font-color-light;
        }
    }
}