@import "../variables";

section {
  width: 95%;
  height: auto;
  margin: 3% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($background-primary-dark, 0.95);
}
