
<h1 class="title">Life through a Lens</h1>
<!-- Wedding -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Wedding Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <div class="awarded">
            <h6>AWARDED </h6>
            <i class="fa-solid fa-award"></i>
          </div>
          <img src="../../assets/gallery-images/weddings/wedding-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/weddings/wedding-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <div class="awarded">
            <h6>AWARDED </h6>
            <i class="fa-solid fa-award"></i>
          </div>
          <img src="../../assets/gallery-images/weddings/wedding-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/weddings/wedding-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/weddings/wedding-5.jpeg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/weddings/wedding-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- Vacation -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Vacation Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselVacation" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-1.jpeg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-3.jpeg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/vacations/vacation-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselVacation" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselVacation" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- fineArt -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> FineArt Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselfineArt" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/fine-art/fine-art-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselfineArt" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselfineArt" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- maternity -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Maternity Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselmaternity" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/maternity/maternity-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/maternity/maternity-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/maternity/maternity-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/maternity/maternity-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/maternity/maternity-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/maternity/maternity-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselmaternity" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselmaternity" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- headshot -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Headshot Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselheadshot" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/headshot/headshot-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/headshot/headshot-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/headshot/headshot-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/headshot/headshot-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/headshot/headshot-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/headshot/headshot-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselheadshot" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselheadshot" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- portrait -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Portrait Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselportrait" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/portrait/portrait-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/portrait/portrait-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/portrait/portrait-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/portrait/portrait-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/portrait/portrait-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/portrait/portrait-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselportrait" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselportrait" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- boudoir -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Boudoir Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselboudoir" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/boudoir/boudoir-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/boudoir/boudoir-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/boudoir/boudoir-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/boudoir/boudoir-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/boudoir/boudoir-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/boudoir/boudoir-6.jpeg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselboudoir" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselboudoir" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- poledance -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Poledance Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselpoledance" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/poledance/poledance-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/poledance/poledance-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/poledance/poledance-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/poledance/poledance-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/poledance/poledance-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/poledance/poledance-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselpoledance" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselpoledance" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- workshop -->
<section class="container rounded row row-cols-xs-1 row-cols-ms-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" >
  <div>
    <h1 class="text-center text-light"> Workshop Inspirational Lens Moments</h1>
  </div>
  <div>
    <div id="carouselworkshop" class="carousel slide carousel-fade w-100 h-100 " data-bs-ride="carousel">
      <div class="carousel-inner w-100 h-100 ">
        <div class="carousel-item active w-100 h-100">
          <img src="../../assets/gallery-images/workshop/workshop-1.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/workshop/workshop-2.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src=".../../assets/gallery-images/workshop/workshop-3.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/workshop/workshop-4.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/workshop/workshop-5.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
        <div class="carousel-item w-100 h-100">
          <img src="../../assets/gallery-images/workshop/workshop-6.jpg" class="d-block w-100 h-100 object-fit-cover rounded" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselworkshop" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="color: green;"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselworkshop" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>


