// * {
//   box-sizing: border-box;
//   margin: 0%;
//   padding: 0%;
// }

$background-primary-dark: rgb(18, 18, 18);
$background-primary-light: rgb(241, 241, 241);

$font-color-dark: #1c1c1c;
$font-color-light: #e6e6e6;
