<section>

 <div class="container">
  <h1 class="heading text-center p-5">PHOTOSHOOTS</h1>
  <!--first row-->
  <div class="row g-2" >
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/wedding.jpeg" class="img-fluid" alt="wedding.jpeg" (click)="toggleModal('wedding')">
      <h1 class="picture-event" (click)="toggleModal('wedding')">WEDDING</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/vacations.jpg" class="img-fluid" alt="vacations.jpg" (click)="toggleModal('vacation')">
      <h1 class="picture-event" (click)="toggleModal('vacation')">VACATION</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/fine-art.jpg" class="img-fluid" alt="fine-art.jpg" (click)="toggleModal('fineArt')">
      <h1 class="picture-event" (click)="toggleModal('fineArt')">FINE ART</h1>
    </div>
<!--second column-->
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/maternity.jpg" class="img-fluid" alt="maternity.jpg" (click)="toggleModal('maternity')">
      <h1 class="picture-event" (click)="toggleModal('maternity')">MATERNITY</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/Headshot-photoshoot.jpg" class="img-fluid" alt="Headshot-photoshoot.jpg" (click)="toggleModal('headshot')">
      <h1 class="picture-event" (click)="toggleModal('headshot')">HEADSHOT</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/portrait.png" class="img-fluid" alt="portrait.png" (click)="toggleModal('portrait')">
      <h1 class="picture-event" (click)="toggleModal('portrait')">PORTRAIT</h1>
    </div>

<!--third column-->
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/boudoir.jpg" class="img-fluid" alt="boudoir.jpg" (click)="toggleModal('boldoir')">
      <h1 class="picture-event" (click)="toggleModal('boldoir')">BOLDOIR</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/poledance.jpg" class="img-fluid" alt="poledance.jpg" (click)="toggleModal('poledance')">
      <h1 class="picture-event" (click)="toggleModal('poledance')">POLEDANCE</h1>
    </div>
    <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 p-2">
      <img src="./assets/gallery-images/workshops.jpg" class="img-fluid" alt="workshops.jpg" (click)="toggleModal('workshop')">
      <h1 class="picture-event" (click)="toggleModal('workshop')">PHOTO WORKSHOPS</h1>
    </div>
  </div>
</div>

<h3 class="p-5 text-center">With over a thousand photoshoots behind me, i have the skills and experience to give you the photos you are looking for!</h3>

<div class="btn-group p-5 d-flex justify-content-center">

  <a routerLink="contact">
    <button class="btn-lg btn btn-secondary bg-gradient me-3" >Buy A Gift Voucher
      <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></button>
  </a>
  <a routerLink="contact">
  <button class="btn-lg btn btn-dark bg-gradient">Get In Touch
    <i class="fa-solid fa-play" style="color: #ffffff;"></i>
  </button>
  </a>
</div>


<!-- Modal | Gallery Categories -->
<div class="madalLayer" [style.display]="showModal ? 'grid' : 'none'" id="modal" (click)="toggleModal(null)">
  <!-- Close Button -->
  <div class="closeX"> <button>X</button></div>
  <!-- Portofolio Link at Top of the Modal -->
  <div class="portoBtnUp"> <button routerLink="/portfolio"> Go to Protofolio <i class="fa-solid fa-chevrons-right"></i> </button> </div>
    <!-- Portofolio Link at Bottom of the Modal -->
  <div class="portoBtnDown"> <button routerLink="/portfolio"> Go to Protofolio <i class="fa-solid fa-chevrons-right"></i> </button> </div>

  <ng-container *ngIf="selectedCategory === 'wedding'">
      <div class="portoGallery" *ngFor="let pic of wedding; let i = index">
          <img class="portoImg" src="{{pic}}" alt="" type="button" (click)="openImage()">
          <span> the image name is {{wedding[i]}} </span>
      </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'vacation'">
      <div class="portoGallery" *ngFor="let pic of vacation">
          <img class="portoImg" src="{{pic}}" alt="">
      </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'fineArt'">
    <div class="portoGallery" *ngFor="let pic of fineArt">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'maternity'">
    <div class="portoGallery" *ngFor="let pic of maternity">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'headshot'">
    <div class="portoGallery" *ngFor="let pic of headshot">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'portrait'">
    <div class="portoGallery" *ngFor="let pic of portrait">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'boldoir'">
    <div class="portoGallery" *ngFor="let pic of boldoir">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'poledance'">
    <div class="portoGallery" *ngFor="let pic of poledance">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCategory === 'workshop'">
    <div class="portoGallery" *ngFor="let pic of workshop">
        <img class="portoImg" src="{{pic}}" alt="">
    </div>
  </ng-container>

</div>

</section>


