<body>
 <div class="container">
  <h1 class="heading text-center p-5">PHOTOSHOOTS</h1>
  <!--first row-->
 <div class="row justify-content-center g-2">
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/wedding.jpeg" class="img-fluid" alt="wedding.jpeg">
    <h1>WEDDING</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4 ">
    <img src="./assets/gallery-images/vacations.jpg" class="img-fluid" alt="vacations.jpg">
    <h1>VACATION</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/fine-art.jpg" class="img-fluid" alt="fine-art.jpg">
    <h1>FINE ART</h1>
  </div>
<!--second column-->
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/maternity.jpg" class="img-fluid" alt="maternity.jpg">
    <h1>MATERNITY</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/Headshot-photoshoot.jpg" class="img-fluid" alt="Headshot-photoshoot.jpg">
    <h1>HEADSHOT</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/portrait.png" class="img-fluid" alt="portrait.png">
    <h1>PORTRAIT</h1>
  </div>

<!--third column-->
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/boudoir.jpg" class="img-fluid" alt="boudoir.jpg">
    <h1>BOLDOIR</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/poledance.jpg" class="img-fluid" alt="poledance.jpg">
    <h1>POLEDANCE</h1>
  </div>
  <div class="images col-sm-12 col-md-6 col-xxl-4 col-xl-4">
    <img src="./assets/gallery-images/workshops.jpg" class="img-fluid" alt="workshops.jpg">
    <h1>PHOTO WORKSHOPS</h1>
  </div>
</div>
</div>

<h3 class="p-5 text-center">With over a thousand photoshoots behind me, i have the skills and experience to give you the photos you are looking for!</h3>

<div class="d-flex justify-content-center">

  <a href="">
    <button class="btn-lg btn btn-secondary bg-gradient me-3" >Buy A Gift Voucher
      <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></button>
  </a>
  <a href="">
  <button class="btn-lg btn btn-dark bg-gradient">Get In Touch
    <i class="fa-solid fa-play" style="color: #ffffff;"></i>
  </button>
  </a>
</div>
</body>


