@import '../../variables';
 *{
  padding: 0;
  box-sizing: border-box;
}

body{

  background-color: $background-primary-light;

    .heading{
      font-family: 'raleways', sans-serif;
      color: $background-primary-dark;
      font-size: 5rem;
      text-align: center;
    }

 .images {
  position: relative;
  display: inline-block;
  font-family: 'raleway', sans-serif;
  overflow: hidden;
  
}

.images img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 1s;
  border: 3px solid $background-primary-dark;
}

.images h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px $font-color-dark;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: inline-block
}

.btn{
  padding:15px;
}



h3{
  font-family: 'raleway', sans-serif;
  color: $font-color-dark;
  font-weight: 600;
} 

img:hover{
  transform: scale(1.5);
  overflow: hidden;
  cursor: pointer;
}
@media (max-width:768px){
  .heading{
    font-size: 3rem;
  }
}
@media (max-width:500px){
  .heading{
    font-size: 2rem;
  }
}
@media (max-width:375px){
  .heading{
    font-size: 1.8rem;
  }
}
}



