<section>
  <div class="testCont">
    <h1> {{ title}} </h1>
    <p class="para1"> {{ para1}} </p>



    <div class="div1">

      <div>
        <p class="titles"> {{ para21 }} </p>
        <img src="{{para21image}}" alt="">
      </div>

      <div class="midCont">
        <h2> {{ slogan1 }} </h2>
        <p class="mid"> {{para31}} .. {{para32}}  {{para33}} {{para34}}  </p>
      </div>

      <div>
        <p class="titles"> {{para22}} </p>
        <img src="{{para22image}}" alt="">
      </div>
      
    </div>
  </div>
</section>
